<header>
    <nav class="header-nav">
<ul>
  <a href="/"><li class="li-li">Inicio</li></a>
  <a href="/publisher/<%= dc %> "><li>DC</li></a>
  <a href="/publisher/<%= marvel %> "><li>Marvel</li></a>
</ul>
    </nav>
  </header



